@import url(./b.css);
.big{
    border: 2px solid black;
    height: 100px;
    width: 50px;
    border-radius: 100%;
    border-width: 2px 50px 2px 2px;
    position: relative;
}
.middle-1{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    background: white;
}
.small-1{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    position: absolute;
    background: black;
    margin: 18px;
}
.middle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    background: black;
    top: 50%;
}
.small{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    position: absolute;
    background: white;
    margin: 18px;
}

